<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title mb-3">Bullion</h3>
        
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bullionName">Bullion Name</label>
                        <input type="text" class="form-control" id="bullionName"
                            placeholder="Bullion Name" [(ngModel)]="bullionObj.bullionName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                          <label for="metal">Metal</label>
                         <select class="form-control" id="metal" placeholder="Metal Name" [(ngModel)]="bullionObj.metal">
                            <option>Select a Metal</option>
                            <option>Gold</option>
                            <option>Silver</option>
                            <option>Platinum</option>
                        </select>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="form-group">
                        <label for="calculations">Calculations</label>
                        <input type="number" class="form-control" id="calculations" placeholder="Calculations"
                            [(ngModel)]="bullionObj.calculations">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Weight">Weight (gm)</label>
                        <input type="number" class="form-control" id="Weight" placeholder="Weight (gm)"
                            [(ngModel)]="bullionObj.weight">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Premium">Premium ($)</label>
                        <input type="number" class="form-control" id="Premium" placeholder="Premium ($)"
                            [(ngModel)]="bullionObj.premium">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="typeofChannels">Tax Exempt</label>
                        <div>
                            <div class="form-check mt-0 form-check-inline">
                                 <input class="form-check-input" type="radio" name="Yes"
                                    id="Yes" value="Yes" [(ngModel)]="bullionObj.taxExempt">
                                <label class="form-check-label" for="Yes">Yes(Default)</label>
                            </div>
                            <div class="form-check mt-0 form-check-inline">
                               <input class="form-check-input" type="radio" name="No"
                                    id="No" value="No" [(ngModel)]="bullionObj.taxExempt">
                                <label class="form-check-label" for="No">No</label>
                            </div> 
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="row">
                <div class="col-sm-12">
                         <a class="TagBtn addBtn bg-green" (click)="addbullionListRow()"  title="Add Materials"> <i class="fa fa-plus"></i>  </a>
                       </div>
               </div>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Bullion Name
                            </th>
                            <th>
                                Metal
                            </th>
                            <th scope="col">Action</th>
                                                       
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bullionList">
                            <td>
                                <b> {{item.bullionName}}</b>
                            </td>
                            <td>
                                {{item.metal}}
                            </td>
                            <td>
                                <button (click)="deletebullionRow(i)" class="btn btn-sm btn-danger btn-delete-user" title="Delete">
                                    <i class="fa fa-trash"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>